In [77]:
import sqlite3
class SQLiteDBConnection:
    def __init__(self,db_name):
        self.db_name = db_name
        self.conn = None
        self.cursor = None
    def __enter__(self):
        try:
            self.conn = sqlite3.connect(self.db_name)
            self.cursor = self.conn.cursor()
            return self.cursor
        except sqlite3.Error as e:
            print(f"Ocurrio un erro :{str(e)}")
            return None
    def __exit__(self,exc_type,exc_va,exc_db):
        if self.conn:
            if exc_type:
                self.conn.rollback()
            else:
                self.conn.commit()
            self.conn.close()

In [78]:
db_name = "ejemplo.db"
with SQLiteDBConnection(db_name) as cursor:
    if cursor:
        cursor.execute("CREATE TABLE IF NOT EXISTS usuarios(id INTEGER PRIMARY KEY, nombre TEXT)")
        cursor.execute("INSERT INTO usuarios (nombre) VALUES (?)",("Richard",))
        cursor.execute("INSERT INTO usuarios (nombre) VALUES (?)",("Valeria",))
        cursor.execute("SELECT*FROM usuarios")
        rows = cursor.fetchall()
        for row in rows:
            print(row)

(1, 'Richard')
(2, 'Valeria')
(3, 'Richard')
(4, 'Valeria')
(5, 'Richard')
(6, 'Valeria')
(7, 'Richard')
(8, 'Valeria')
(9, 'Richard')
(10, 'Valeria')
(11, 'Richard')
(12, 'Valeria')
(13, 'Richard')
(14, 'Valeria')
(15, 'Richard')
(16, 'Valeria')
(17, 'Richard')
(18, 'Valeria')
(19, 'Richard')
(20, 'Valeria')
(21, 'Richard')
(22, 'Valeria')
(23, 'Richard')
(24, 'Valeria')
(25, 'Richard')
(26, 'Valeria')
(27, 'Richard')
(28, 'Valeria')
(29, 'Richard')
(30, 'Valeria')
(31, 'Richard')
(32, 'Valeria')
(33, 'Richard')
(34, 'Valeria')
(35, 'Richard')
(36, 'Valeria')
(37, 'Richard')
(38, 'Valeria')
(39, 'Richard')
(40, 'Valeria')

In [79]:
try:
    with SQLiteDBConnection(db_name) as cursor:
        if cursor:
            cursor.execute("INSERT INTO usuarios (nombre) VALUES ('Pedro')")
            raise ValueError("Error simulador para probar el rollback")
except ValueError as e:
    print(f"Error capturado : {str(e)}")
finally:
    with SQLiteDBConnection(db_name) as cursor:
        if cursor:
            cursor.execute("SELECT*FROM usuarios")
            rows = cursor.fetchall()
            print(rows)

Error capturado : Error simulador para probar el rollback
[(1, 'Richard'), (2, 'Valeria'), (3, 'Richard'), (4, 'Valeria'), (5, 'Richard'), (6, 'Valeria'), (7, 'Richard'), (8, 'Valeria'), (9, 'Richard'), (10, 'Valeria'), (11, 'Richard'), (12, 'Valeria'), (13, 'Richard'), (14, 'Valeria'), (15, 'Richard'), (16, 'Valeria'), (17, 'Richard'), (18, 'Valeria'), (19, 'Richard'), (20, 'Valeria'), (21, 'Richard'), (22, 'Valeria'), (23, 'Richard'), (24, 'Valeria'), (25, 'Richard'), (26, 'Valeria'), (27, 'Richard'), (28, 'Valeria'), (29, 'Richard'), (30, 'Valeria'), (31, 'Richard'), (32, 'Valeria'), (33, 'Richard'), (34, 'Valeria'), (35, 'Richard'), (36, 'Valeria'), (37, 'Richard'), (38, 'Valeria'), (39, 'Richard'), (40, 'Valeria')]

### Sistema de validacion de atributos

In [80]:
class ValdidarEntero:
    def __init__(self,min_value=None,max_value=None):
        self.min_value = min_value
        self.max_value = max_value
        self.name = None
    def __set_name__(self,owner,name):
        self.name = name
    def __get__(self,obj,obj_type=None):
        if obj is None:
            return self
        return obj.__dict__.get(self.name,None)
    def __set__(self,obj,value):
        if not isinstance(value,int):
            raise TypeError(f"EL valor de {self.name} debe ser un entero")
        if self.min_value is not None and value<self.min_value:
            raise ValueError(f"El valor de {self.name} ({value}) debe ser >= {self.min_value}")
        if self.max_value is not None and value>self.max_value:
            raise ValueError(f"El valor de {self.name} ({value}) debe ser <= {self.max_value}")
        obj.__dict__[self.name] = value
class Producto:
    precio = ValdidarEntero(min_value=10,max_value=100)
    stock = ValdidarEntero(min_value=0)
    id_producto= ValdidarEntero()
    def __init__(self,precio,stock,id_producto):
        self.precio = precio
        self.stock = stock
        self.id_producto = id_producto
p1 = Producto(precio=89,stock=90,id_producto=9)
p1.precio,p1.stock,p1.id_producto

(89, 90, 9)