# Pipeline de procesamiento de datos

In [114]:
from functools import reduce
# dataset

numeros = [1,2,3,4,5,6,7,8,9,10]

### `map()`, `filter()`, `reduce()`

In [115]:
# Filtra los numeros pares
numeros_pares = list(filter(lambda x: x%2==0,numeros))
numeros_pares

[2, 4, 6, 8, 10]

In [116]:
# Mapea la lista al cuadrado
numeros_cuadrados = list(map(lambda x:x**2,numeros))
numeros_cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [117]:
# reducir a la suma total

suma_total = sum(numeros)
print(suma_total)

55

In [118]:
suma_total1 = reduce(lambda acc,x:acc+x,numeros)
print(suma_total1)

55

In [119]:
resultado_pipeline = reduce(lambda acc,x:acc+x,map(lambda x:x**2,filter(lambda x:x%2==0,numeros)))
resultado_pipeline

220

In [120]:
from functools import lru_cache
import time

In [121]:
@lru_cache(maxsize=None)
def fibonnaci(n):
    if n<=1:
        return n
    return fibonnaci(n-1)+fibonnaci(n-2)

In [122]:
fibonnaci(45)

1134903170

In [123]:
fibonnaci(35)

9227465

In [124]:
fibonnaci(35)

9227465

In [125]:
inicio = time.perf_counter()
resultado = fibonnaci(35)
fin = time.perf_counter()
print(f"El 35 numero de fibonnaci es :{fin-inicio:.6} segundos")
print(f"Estado de la cache: {fibonnaci.cache_info()}")

El 35 numero de fibonnaci es :4.93e-05 segundos
Estado de la cache: CacheInfo(hits=46, misses=46, maxsize=None, currsize=46)

# Trasnformador funcional

In [126]:
personas = [
    {"nombre":"ana","edad":20,"ciudad":"Lima"},
    {"nombre":"juan","edad":30,"ciudad":"medellin"},
    {"nombre":"lucia","edad":23,"ciudad":"cali"}
            ]

def capitalizar_nombre(persona):
    persona["nombre"] = persona["nombre"].capitalize()
    return persona
def incrementar_idad(persona):
    persona["edad"]+=1
    return persona
def convertir_ciudad_mayuscula(persona):
    persona["ciudad"] = persona["ciudad"].upper()
    return persona
def transformar_datos(datos,funciones_trasformacion):
    
    datos_transformados = [dict(item) for item in datos]
    for fun in funciones_trasformacion:
        datos_transformados = [fun(item) for item in datos_transformados]
    return datos_transformados

In [127]:
funciones_transformacion = [capitalizar_nombre,incrementar_idad,convertir_ciudad_mayuscula]
personas_transformadas = transformar_datos(personas,funciones_transformacion)
personas_transformadas

[{'nombre': 'Ana', 'edad': 21, 'ciudad': 'LIMA'},
 {'nombre': 'Juan', 'edad': 31, 'ciudad': 'MEDELLIN'},
 {'nombre': 'Lucia', 'edad': 24, 'ciudad': 'CALI'}]